[color]
    ui = auto
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[pager]
    color = true

[status]
    submodulesummary = true

[rerere]
    enabled = true

[diff]
    noprefix = true

[alias]
    lg = "log --pretty=format:'%C(yellow)%h%Creset %s %C(blue)%d%C(reset) %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --graph"
    plog = !git lg
    dif = "diff -p --stat --no-prefix --patience -M -C -C"
    sho = "show -p --stat --no-prefix --patience -M -C -C --ext-diff"
	praise = blame
    stache = !git -c commit.gpgsign=false stash

[color "status"]
    changed = yellow
    header =
[help]
    autocorrect = 12
[core]
	excludesfile = ~/.global-gitignore
	pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[push]
	default = current
[pullme]
	personal = ecall
[user]
	signingkey = 15B8DAD1
[commit]
	gpgsign = true
