[submodule ".bashrc_sources/externals/git-vim"]
	path = .bashrc_sources/externals/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule ".bashrc_sources/externals/scm_breeze"]
	path = .bashrc_sources/externals/scm_breeze
	url = git://github.com/andrewlorente/scm_breeze.git
[submodule ".bashrc_sources/externals/pullme"]
	path = .bashrc_sources/externals/pullme
	url = git@github.com:AndrewLorente/Pullme.git
[submodule ".bashrc_sources/externals/syntastic"]
	path = .bashrc_sources/externals/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".bashrc_sources/externals/vim-fugitive"]
	path = .bashrc_sources/externals/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
