[submodule ".bashrc_sources/externals/git-vim"]
	path = .bashrc_sources/externals/git-vim
	url = https://github.com/motemen/git-vim.git
[submodule ".bashrc_sources/externals/scm_breeze"]
	path = .bashrc_sources/externals/scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
